// qc.config: Configuration for the QC workflow


manifest {
    name = 'Metagenomics Pipeline'
    author = 'Your Name'
    description = 'QC shortcut for preanalysis'
    version = '1.0.0'
    nextflowVersion = '>=22.10.0'
}
// Default parameters
params {
    // Input data
    input_ont = null         // Path to Nanopore FASTQ directory
    input_pod = null      // Path to Nanopore raw .pod5 directory
    input_short = null
    pattern_short = '*R{1,2}*.{fastq,fq,fastq.gz,fq.gz}'
    outdir = 'results/qc'

    help = false
    hybrid = false
    expand = false
    polybin = false
    annotate_more = false
}

//process {
//    // Default configuration
//    cpus = 10
//    memory = '10 GB'
//
//    withName: 'FASTQC_SHORT|FASTQC_LONG' {
//        //container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
//        cpus = 15
//        memory = '10GB'
//    }/
//
//    withName: 'NANOPLOT' {
//       //container = 'quay.io/biocontainers/nanoplot:1.41.3--pyhdfd78af_0'
//        cpus = 20
//        memory = '20 GB'
//    }
//
//    withName: 'MULTIQC_LONG|MULTIQC_SHORT' {
//        //container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0'
//        cpus = 4
//        memory = '8 GB'
//    }
//}

// Profiles
profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    conda {
        conda.enabled = true
    }

    slurm {
        process {
            executor = 'slurm'

            // Override process-specific settings for Slurm
            withName: 'FASTQC_SHORT|FASTQC_LONG' {
                cpus = 15

            }
            withName: 'NANOPLOT' {
                cpus = 20
                memory = '20 GB'

            }
            withName: 'MULTIQC_LONG|MULTIQC_SHORT' {
                cpus = 4
                memory = '8 GB'

            }
        }
    }
}